<%- model_class = Reg_month -%>
<div class="page-header">
  <h1>Travel App</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
    <th>test</th>
    </tr>
  </thead>

    <tbody>
      <tr>
        <td>eita</td>
      </tr>
  </tbody>
</table>