<%- model_class = RegMonth -%>
<div class="page-header">
  <h1>Travel App</h1>
</div>
<table class="table table-striped" border="1px">
  <thead>
    <tr>
      <th></th>
      <% @months.each do |r| %>
        <th><%= r.name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |r| %>
      <tr>
        <td><%= r.name %></td>  
          <% @regmonths.each do |h| %>
            <td><%= h.quantity %></td>
          <% end %>
    <% end %>
      </tr>
  </tbody>
</table>

<%= link_to 'New Travel Data', new_reg_month_path %>